.movie-card {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster-img {
  height: 20em;
  width: 15em;
  border-radius: 10px;
  box-shadow: 6px 8px 10px #BABD8D;
}

h3 {
  color: white;
}

